body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #141414;
    color: #fff;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

header, nav, footer {
    background-color: #222222;
    padding: 15px 0;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 100;
}

header h1, nav a, footer p {
    color: #fff;
    text-decoration: none;
}

nav {
    position: sticky;
    top: 0;
    z-index: 101;
}

nav a {
    margin: 0 15px;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

/* Add more styles for content, buttons, and other elements to match your desired look */
.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: 70px;
    background-color: #000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    z-index: 102;
}

.icons {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}

.icon {
    margin-bottom: 50px;
}

.icon img {
    width: 30px;
    height: 30px;
    cursor: pointer;
    opacity: 0.7;
    transition: opacity 0.3s ease-in-out;
}

.icon img:hover {
    opacity: 1;
}

.icon i {
    font-size: 24px;
    color: #fff;
    cursor: pointer;
    opacity: 0.7;
    transition: opacity 0.3s ease-in-out;
}

.icon i:hover {
    opacity: 1;
}

section {
    padding: 20px;
}

.carousel-container {
    width: calc(100% - 70px);
    margin: 0;
    overflow: hidden;
    margin-bottom: 20px;
}

.light-slider {
    width: 100%;
    margin: 0;
    height: 80px;
}

.carousel-item {
    list-style: none;
}

img {
    width: 100%;
    border-radius: 5px;
    height: auto;
    max-width: 100%;
}

.searchbutton:hover {
	transition-duration: 0.4s;
	-moz-transition-duration: 0.4s;
	-webkit-transition-duration: 0.4s;
	-o-transition-duration: 0.4s;
	color: grey;
}

.mglass {
	display: inline-block;
	pointer-events: none;
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
}

.search-container {
    position: absolute;
    top: 50%;
    right: 150px; /* Adjust the distance from the right as needed */
    transform: translateY(-50%);
    display: flex;
    align-items: center;
}

.searchbutton {
    font-size: 22px;
    background-color: transparent;
    color: white;
    cursor: pointer;
    margin-right: 5px; /* Add margin to separate button and input */
}

.search {
    background-color: white;
    outline: none;
    border: none;
    padding: 10px; /* Adjust the padding to make the input bigger */
    width: 0;
    height: 100%;
    transition-duration: 0.4s;
    -moz-transition-duration: 0.4s;
    -webkit-transition-duration: 0.4s;
    -o-transition-duration: 0.4s;
    display: none;
}

.search:focus {
    width: 200px; /* Adjust the width as needed */
    padding: 10px;
}

.expandright {
	display: block;
}