/*** BEGIN FILE EXPLORER CODE ***/

/*** BEGIN OPTIONAL styling for box that contains the list ***/
.menu-tree-container {
    width: 250px;
    height: 200px;
    overflow-y: scroll;
    border: 1px solid black;
    padding: 10px 10px;
    position: relative;
}

/*** END OPTIONAL styling for box that contains the list ***/

.menu-tree-preloader {
    width: 50px;
    top: 45%;
    position: absolute;
    left: 50%;
    margin-left: -16px;
    display: none;
    /* Initially set this to not display unless JS is detected*/
}

.menu-tree ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu-tree li li {
    /*background-image: url(page.png);
      background-position: 0 1px;
      background-repeat: no-repeat;*/
    padding-left: 20px;
}

.menu-tree  {
    /*background: transparent url(https://www.jqwidgets.com/jquery-widgets-demo/images/folder.png ) no-repeat left top; */
    background: transparent url(./directory.png) no-repeat left top;

    padding: 0px 0 0px 21px;
    display: block;

    color: #000000;
    cursor: pointer;
    text-decoration: none;
}


/*** BEGIN HTML ICON ***/
li.html {
    background: transparent url(./html.png) no-repeat left top;
    color: #e37933;
    content: '\E048';
}

/*** END HTML ICON ***/

/*** BEGIN PDF ICON ***/
/* Add PDF icon before links that go to PDFs */
.pdf {
    background: transparent url(http://www.adobe.com/images/pdficon_small.png) no-repeat left top;
}

/*** END PDF ICON ***/

/*** BEGIN WORD ICON ***/
.doc {
    background: transparent url(./file.png) no-repeat left top;
}

/*** END WORD ICON ***/

/*** BEGIN PPT ICON ***/
.ppt {
    background: transparent url(./ppt.png) no-repeat left top;
}

/*** END PPT ICON ***/

/*** BEGIN XLS ICON ***/
.xsl {
    background: transparent url(./xls.png) no-repeat left top;
}

/*** END XLS ICON ***/

/*** BEGIN TEXT ICON ***/
.txt {
    background: transparent url(./txt.png) no-repeat left top;
}

/*** END TEXT ICON ***/

/*** BEGIN IMAGE ICON ***/
.css {
    background: transparent url(./css.png) no-repeat left top;
}

/*** END IMAGE ICON ***/

.menu-tree a:hover {
    text-decoration: underline;
    background-color: #ccc;
}

/*** END FILE EXPLORER CODE ***/