/*** BEGIN FILE EXPLORER CODE ***/

/*** BEGIN OPTIONAL styling for box that contains the list ***/
.menu-tree-container {
    width:250px;
    height:200px;
    overflow-y: scroll;
    border: 1px solid black;
    padding: 10px 10px;
    position:relative;
}
/*** END OPTIONAL styling for box that contains the list ***/

.menu-tree-preloader {
    width: 50px;
    top: 45%;
    position: absolute;
    left: 50%;
    margin-left: -16px;	
    display:none; /* Initially set this to not display unless JS is detected*/
}

.menu-tree ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.menu-tree li li {
    /*background-image: url(page.png);
    background-position: 0 1px;
    background-repeat: no-repeat;*/
    padding-left: 20px; 
}

.menu-tree a {
    /*background: transparent url(https://www.jqwidgets.com/jquery-widgets-demo/images/folder.png ) no-repeat left top; */
    background: transparent url(http://labs.abeautifulsite.net/archived/jquery-fileTree/demo/images/directory.png) no-repeat left top;

    padding: 0px 0 0px 21px;
    display: block;

    color: #000000;
    cursor: pointer;
    text-decoration: none;
}

.menu-tree a.expanded {
    background: transparent url(http://labs.abeautifulsite.net/archived/jquery-fileTree/demo/images/folder_open.png) no-repeat left top;
}

/*** BEGIN HTML ICON ***/
.menu-tree a[data-content$=".html"], .menu-tree a[data-content^="http"] {  
    background: transparent url(http://labs.abeautifulsite.net/archived/jquery-fileTree/demo/images/html.png) no-repeat left top;
}
/*** END HTML ICON ***/

/*** BEGIN PDF ICON ***/
/* Add PDF icon before links that go to PDFs */
.menu-tree a[data-content$=".pdf"] { 
    background: transparent url(http://www.adobe.com/images/pdficon_small.png) no-repeat left top;
}
/*** END PDF ICON ***/

/*** BEGIN WORD ICON ***/
.menu-tree a[data-content$=".doc"], .menu-tree a[data-content$=".docx"] { 
    background: transparent url(http://labs.abeautifulsite.net/archived/jquery-fileTree/demo/images/file.png) no-repeat left top;
}
/*** END WORD ICON ***/

/*** BEGIN PPT ICON ***/
.menu-tree a[data-content$=".ppt"], .menu-tree a[data-content$=".pptx"] { 
    background: transparent url(http://labs.abeautifulsite.net/archived/jquery-fileTree/demo/images/ppt.png) no-repeat left top;
}
/*** END PPT ICON ***/

/*** BEGIN XLS ICON ***/
.menu-tree a[data-content$=".xls"], .menu-tree a[data-content$=".xlsx"] { 
    background: transparent url(http://labs.abeautifulsite.net/archived/jquery-fileTree/demo/images/xls.png) no-repeat left top;
}
/*** END XLS ICON ***/

/*** BEGIN TEXT ICON ***/
.menu-tree a[data-content$=".txt"] { 
    background: transparent url(http://labs.abeautifulsite.net/archived/jquery-fileTree/demo/images/txt.png) no-repeat left top;
}
/*** END TEXT ICON ***/

/*** BEGIN IMAGE ICON ***/
.menu-tree a[data-content$=".jpg"], .menu-tree a[data-content$=".jpeg"], .menu-tree a[data-content$=".png"], .menu-tree a[data-content$=".gif"] { 
    background: transparent url(http://labs.abeautifulsite.net/archived/jquery-fileTree/demo/images/picture.png) no-repeat left top;
}
/*** END IMAGE ICON ***/

.menu-tree a:hover {
    text-decoration: underline;
    background-color:#ccc;
}

/*** END FILE EXPLORER CODE ***/